/* import google font */

/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400"); */

@font-face {
  font-family: "NeoLatina";
  src: url("../fonts/neo-latina.ttf");
}

@font-face {
  font-family: "DINPro-Light";
  src: url("../fonts/DINPro-Light.otf");
}

@font-face {
  font-family: "DINPro-Regular";
  src: url("../fonts/DINPro-Regular.otf");
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "DINPro-Regular", sans-serif;
  color: #222;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  padding-top: 3.9rem;
}

h3 {
  font-weight: 700;
}

p {
  font-family: "DINPro-Light", sans-serif;
}

main {
  background: url(../img/bg-logo.png) no-repeat;
  background-position: right -150px top 0;
}

.padding {
  padding-bottom: 2rem;
}

.logo-font {
  font-family: "NeoLatina", sans-serif;
}

::placeholder {
  color: #D3D3D3;
}

/* navigation */

.navbar {
  padding: 1vh 4vw;
  background: #1A2948;
}

.containerX {
  display: none;
  cursor: pointer;
  opacity: .8;
}

.containerX:hover {
  opacity: .95;
}

.bar1,
.bar2,
.bar3 {
  width: 22px;
  height: 3px;
  background-color: #FFF;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.5s;
}

/* rotate first bar */

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, 10%);
}

/* Fade out the second bar */

.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -10%);
}

.header_logo {
  max-height: 40px;
}

.navbar-collapse {
  margin-top: 4px;
}

.nav-item a:hover,
.nav-item a:focus,
.nav-item a:active {
  box-shadow: 0 2px #3CA0CA;
}

a.active {
  box-shadow: 0 2px #3CA0CA;
}

.nav-link {
  font-size: 1.1rem !important;
  color: #fff;
  font-family: "NeoLatina", sans-serif;
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}

/* carousel */

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 4rem;
  font-family: "NeoLatina", sans-serif;
  /* vertical, horizontal, width, color*/
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h5 {
  font-weight: 200;
  /* vertical, horizontal, width, color*/
  text-shadow: 1px 1px 5px #000;
  margin-bottom: 1.5rem;
}

.btn-primary {
  background: #3CA0CA;
  border: 1px solid #3CA0CA;
}

.btn-primary:hover {
  background: #1A2948;
  border: 1px solid #1A2948;
}

/* product */

.product-img {
  width: 100%;
  max-width: 450px;
}

.product-icon {
  transform: scale(0.5, 0.5) translate(-50%, 0);
}

/* about */

.abt-icon {
  transform: scale(0.5, 0.5);
}

.abt-bg {
  background: linear-gradient(rgba(243, 248, 249, 0.9), rgba(243, 248, 249, 0.6)), url(../img/city.jpg) no-repeat fixed;
  background-size: cover;
}



/* team */

.welcome {
  width: 75%;
  margin: 0 auto;
}

/* footer area */

footer {
  background-color: #1A2948;
  color: #fff;
}

input[type=text],
input[type=email] {
  display: inline-block;
  background-color: #1A2948;
  border: none;
  border-bottom: 2px solid #D3D3D3;
  padding: 5px;
  margin-top: 20px;
  color: #fff;
}

::placeholder{
  color:#D3D3D3;
  opacity: .6;
}

input[type=text]:focus,
input[type=email]:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

input[type=email] {
  width: 60%;
}

input[type=submit] {
  display: inline-block;
  background-color: #1A2948;
  border: none;
  padding-bottom: 0;
  vertical-align: bottom;
  color: #D3D3D3;
  cursor:pointer;
}

input[type=submit]:hover{
  color:#fff;
}

/* social media */


.social a {
  opacity:.8;
  font-size: 2rem;
  padding: 1rem;
}

.social a:hover {
  opacity:1;
  text-decoration: none;
}

.fa-facebook,
.fa-linkedin,
.fa-twitter,
.fa-instagram {
  color: #fff;
}

.cr {
  background-color: #2C2C2C;
  color: #EBEBEB;
}

.cr p {
  margin: 0;
}

/*---Media Queries --*/

@media only screen and (max-width: 768px) {
  html {
    font-size: .9rem;
  }
  main {
    background-size: 30%;
  }
  .carousel-caption {
    position: absolute;
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 3.5rem;
  }
  .carousel-caption h5 {
    font-size: 1.3rem;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: .95rem;
    padding: 8px 14px;
  }
  .nav-link {
    /* display: inline-block; */
    text-align: center;
  }
  .containerX {
    display: inline-block !important;
  }
  .p3 {
    order: 1;
  }
  .p4 {
    order: 0;
  }
  [class*="p"] {
    text-align: center !important;
    font-size:0.9rem; 
  }
  .product-img{
    width: 50%;
  }
}

@media only screen and  (max-width: 576px) {
 
  main {
    background-size: 25%;
  }
 
  .carousel-caption {
    position: absolute;
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  .carousel-caption h5 {
    font-size: 1.1rem;
    font-weight: 200;
    padding-bottom: 0;
  }
  .carousel-caption .btn {
    font-size: .9rem;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }

  .product-icon{
    transform: scale(0.4,0.4);
  }

  p{
    width:80%;
    margin: 0 auto;
  }
}

/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/